# [dbo].[Clientes]

In [0]:
USE [ExamenTecnico]
GO

In [0]:
/****** Object:  Table [dbo].[Clientes]    Script Date: 28/8/2025 13:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Dni] [varchar](10) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[DireccionEnvio] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Empleados]

In [0]:
/****** Object:  Table [dbo].[Empleados]    Script Date: 28/8/2025 13:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Productos]

In [0]:
/****** Object:  Table [dbo].[Productos]    Script Date: 28/8/2025 13:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Sucursales]

In [0]:
/****** Object:  Table [dbo].[Sucursales]    Script Date: 28/8/2025 13:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Usuarios]

In [0]:
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/8/2025 13:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Pass] [varchar](500) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[VentaDetalle]

In [0]:
/****** Object:  Table [dbo].[VentaDetalle]    Script Date: 28/8/2025 13:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalle](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[SubTotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[VENTAS_LEGACY]

In [0]:
/****** Object:  Table [dbo].[VENTAS_LEGACY]    Script Date: 28/8/2025 13:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS_LEGACY](
	[ID_VENTA] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_venta] [datetime] NOT NULL,
	[Dni_cliente] [varchar](10) NOT NULL,
	[Nombre_empleado] [varchar](100) NOT NULL,
	[Nombre_cliente] [varchar](100) NOT NULL,
	[Importe_total] [decimal](10, 2) NOT NULL,
	[Direccion_envio_cliente] [varchar](100) NULL,
	[Dirección_sucursal_venta] [varchar](100) NULL,
	[Nombre_sucursal_venta] [varchar](100) NULL,
	[Producto] [varchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Ventas_N]

In [0]:
/****** Object:  Table [dbo].[Ventas_N]    Script Date: 28/8/2025 13:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas_N](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[IdSucursal] [int] NOT NULL,
	[ImporteTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Clientes]

In [0]:
SET IDENTITY_INSERT [dbo].[Clientes] ON 
INSERT [dbo].[Clientes] ([IdCliente], [Dni], [Nombre], [DireccionEnvio]) VALUES (1, N'12345678', N'Maria Lopez', N'Av. Siempre Viva 742')
INSERT [dbo].[Clientes] ([IdCliente], [Dni], [Nombre], [DireccionEnvio]) VALUES (2, N'20123456', N'Carlos Ruiz', N'Calle Falsa 123')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO

# [dbo].[Empleados]

In [0]:
SET IDENTITY_INSERT [dbo].[Empleados] ON 
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (1, N'Juan Perez', 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (2, N'Ana Gómez', 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (3, N'Agus Moya', 0)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (4, N'leo leioro', 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (5, N'martin martino', 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (6, N'fernando Fer', 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (7, N'yanina yanina', 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (8, N'agus agus', 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (9, N'prueba', 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [Nombre], [Activo]) VALUES (10, N'agus moya ', 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO

# [dbo].[Productos]

In [0]:
SET IDENTITY_INSERT [dbo].[Productos] ON 
INSERT [dbo].[Productos] ([IdProducto], [Nombre]) VALUES (2, N'Mouse')
INSERT [dbo].[Productos] ([IdProducto], [Nombre]) VALUES (1, N'Notebook')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO

# [dbo].[Sucursales]

In [0]:
SET IDENTITY_INSERT [dbo].[Sucursales] ON 
INSERT [dbo].[Sucursales] ([IdSucursal], [Direccion], [Nombre]) VALUES (1, N'Av. Cabildo 1234', N'Sucursal Centro')
INSERT [dbo].[Sucursales] ([IdSucursal], [Direccion], [Nombre]) VALUES (2, N'Av. Rivadavia 5555', N'Sucursal Norte')
SET IDENTITY_INSERT [dbo].[Sucursales] OFF
GO

# [dbo].[Usuarios]

In [0]:
SET IDENTITY_INSERT [dbo].[Usuarios] ON 
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Pass], [FechaCreacion]) VALUES (1, N'admin', N'AQAAAAIAAYagAAAAEOnDZXsLQQEFMoUQv1Gnt4uka+vy4tpspirO/tcoeio5m830Nb4e0YjkVGiJrnnSlw==', CAST(N'2025-08-28T06:08:11.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO

# [dbo].[VentaDetalle]

In [0]:
SET IDENTITY_INSERT [dbo].[VentaDetalle] ON 
INSERT [dbo].[VentaDetalle] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 1, 1, CAST(25000.50 AS Decimal(10, 2)))
INSERT [dbo].[VentaDetalle] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 2, 2, 3, CAST(5333.33 AS Decimal(10, 2)))
INSERT [dbo].[VentaDetalle] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 3, 2, 2, CAST(4100.00 AS Decimal(10, 2)))
INSERT [dbo].[VentaDetalle] ([IdDetalle], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (4, 4, 1, 1, CAST(55000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[VentaDetalle] OFF
GO

# [dbo].[VENTAS_LEGACY]

In [0]:
SET IDENTITY_INSERT [dbo].[VENTAS_LEGACY] ON 
INSERT [dbo].[VENTAS_LEGACY] ([ID_VENTA], [Fecha_venta], [Dni_cliente], [Nombre_empleado], [Nombre_cliente], [Importe_total], [Direccion_envio_cliente], [Dirección_sucursal_venta], [Nombre_sucursal_venta], [Producto], [Cantidad]) VALUES (1, CAST(N'2025-08-20T10:30:00.000' AS DateTime), N'12345678', N'Juan Perez', N'Maria Lopez', CAST(25000.50 AS Decimal(10, 2)), N'Av. Siempre Viva 742', N'Av. Cabildo 1234', N'Sucursal Centro', N'Notebook', 1)
INSERT [dbo].[VENTAS_LEGACY] ([ID_VENTA], [Fecha_venta], [Dni_cliente], [Nombre_empleado], [Nombre_cliente], [Importe_total], [Direccion_envio_cliente], [Dirección_sucursal_venta], [Nombre_sucursal_venta], [Producto], [Cantidad]) VALUES (2, CAST(N'2025-08-20T15:05:00.000' AS DateTime), N'20123456', N'Ana Gómez', N'Carlos Ruiz', CAST(15999.99 AS Decimal(10, 2)), N'Calle Falsa 123', N'Av. Rivadavia 5555', N'Sucursal Norte', N'Mouse', 3)
INSERT [dbo].[VENTAS_LEGACY] ([ID_VENTA], [Fecha_venta], [Dni_cliente], [Nombre_empleado], [Nombre_cliente], [Importe_total], [Direccion_envio_cliente], [Dirección_sucursal_venta], [Nombre_sucursal_venta], [Producto], [Cantidad]) VALUES (3, CAST(N'2025-08-21T11:45:00.000' AS DateTime), N'30567890', N'Luis Torres', N'Sofia Diaz', CAST(8200.00 AS Decimal(10, 2)), N'Av. Corrientes 2000', N'Av. Belgrano 321', N'Sucursal Sur', N'Teclado', 2)
INSERT [dbo].[VENTAS_LEGACY] ([ID_VENTA], [Fecha_venta], [Dni_cliente], [Nombre_empleado], [Nombre_cliente], [Importe_total], [Direccion_envio_cliente], [Dirección_sucursal_venta], [Nombre_sucursal_venta], [Producto], [Cantidad]) VALUES (4, CAST(N'2025-08-22T09:10:00.000' AS DateTime), N'40234567', N'Marta Lopez', N'Pedro Sanchez', CAST(55000.00 AS Decimal(10, 2)), N'Av. Libertador 789', N'Av. San Martín 444', N'Sucursal Oeste', N'Monitor', 1)
SET IDENTITY_INSERT [dbo].[VENTAS_LEGACY] OFF
GO

# [dbo].[Ventas_N]

In [0]:
SET IDENTITY_INSERT [dbo].[Ventas_N] ON 
INSERT [dbo].[Ventas_N] ([IdVenta], [FechaVenta], [IdCliente], [IdEmpleado], [IdSucursal], [ImporteTotal]) VALUES (1, CAST(N'2025-08-20T10:30:00.000' AS DateTime), 1, 1, 1, CAST(25000.50 AS Decimal(10, 2)))
INSERT [dbo].[Ventas_N] ([IdVenta], [FechaVenta], [IdCliente], [IdEmpleado], [IdSucursal], [ImporteTotal]) VALUES (2, CAST(N'2025-08-20T15:05:00.000' AS DateTime), 2, 2, 2, CAST(15999.99 AS Decimal(10, 2)))
INSERT [dbo].[Ventas_N] ([IdVenta], [FechaVenta], [IdCliente], [IdEmpleado], [IdSucursal], [ImporteTotal]) VALUES (3, CAST(N'2025-08-21T11:45:00.000' AS DateTime), 1, 1, 1, CAST(8200.00 AS Decimal(10, 2)))
INSERT [dbo].[Ventas_N] ([IdVenta], [FechaVenta], [IdCliente], [IdEmpleado], [IdSucursal], [ImporteTotal]) VALUES (4, CAST(N'2025-08-22T09:10:00.000' AS DateTime), 2, 2, 2, CAST(55000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ventas_N] OFF
GO

# [UQ_Clientes_Dni]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clientes_Dni]    Script Date: 28/8/2025 13:40:55 ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_Clientes_Dni] UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ_Productos_Nombre]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Productos_Nombre]    Script Date: 28/8/2025 13:40:55 ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [UQ_Productos_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ_Sucursales_Dir_Nom]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Sucursales_Dir_Nom]    Script Date: 28/8/2025 13:40:55 ******/
ALTER TABLE [dbo].[Sucursales] ADD  CONSTRAINT [UQ_Sucursales_Dir_Nom] UNIQUE NONCLUSTERED 
(
	[Direccion] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ__Usuarios__E3237CF7181F0826]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__E3237CF7181F0826]    Script Date: 28/8/2025 13:40:55 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DF_Empleados_Activo]

In [0]:
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_Activo]  DEFAULT ((1)) FOR [Activo]
GO

# [DF__Usuarios__FechaC__0F624AF8]

In [0]:
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO

# [FK_VentaDetalle_Producto]

In [0]:
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalle_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_VentaDetalle_Producto]
GO

# [FK_VentaDetalle_Venta]

In [0]:
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalle_Venta] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Ventas_N] ([IdVenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_VentaDetalle_Venta]
GO

# [FK_Ventas_Cliente]

In [0]:
ALTER TABLE [dbo].[Ventas_N]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Ventas_N] CHECK CONSTRAINT [FK_Ventas_Cliente]
GO

# [FK_Ventas_Empleado]

In [0]:
ALTER TABLE [dbo].[Ventas_N]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Ventas_N] CHECK CONSTRAINT [FK_Ventas_Empleado]
GO

# [FK_Ventas_Sucursal]

In [0]:
ALTER TABLE [dbo].[Ventas_N]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Sucursal] FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursales] ([IdSucursal])
GO
ALTER TABLE [dbo].[Ventas_N] CHECK CONSTRAINT [FK_Ventas_Sucursal]
GO

# [CK_Clientes_Dni]

In [0]:
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CK_Clientes_Dni] CHECK  ((len([Dni])>=(7) AND len([Dni])<=(10) AND NOT [Dni] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CK_Clientes_Dni]
GO

# [CK_VentaDetalle_Cantidad]

In [0]:
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [CK_VentaDetalle_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [CK_VentaDetalle_Cantidad]
GO

# [CK_VentaDetalle_PrecioUnitario]

In [0]:
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [CK_VentaDetalle_PrecioUnitario] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [CK_VentaDetalle_PrecioUnitario]
GO

# [CK_Ventas_ImporteTotal]

In [0]:
ALTER TABLE [dbo].[Ventas_N]  WITH CHECK ADD  CONSTRAINT [CK_Ventas_ImporteTotal] CHECK  (([ImporteTotal]>=(0)))
GO
ALTER TABLE [dbo].[Ventas_N] CHECK CONSTRAINT [CK_Ventas_ImporteTotal]
GO